<body class="bg-img">
    <mat-card class="container pt-4">
    <h2 class="title" style="text-align: center;">Business Account Signup</h2>
    
        <mat-horizontal-stepper #stepper [linear]="true">
            <!-- Step 1: Business Information -->
            <mat-step [stepControl]="businessForm">
                <form [formGroup]="businessForm">
                    <ng-template matStepLabel>
                    </ng-template>  
                    <img src="https://i.ibb.co/G3x7LN9z/Contact-us-elements.png" class="step-icon" />
                    Business Information
                    <mat-form-field appearance="outline">
                        <mat-label>Business Name</mat-label>
                        <input matInput formControlName="businessName" required />
                        <mat-error *ngIf="businessForm.controls['businessName'].invalid">
                            Business Name is required
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Business Type</mat-label>
                        <mat-select formControlName="businessType" required>
                            <mat-option value="SoleProprietorship">Sole Proprietorship</mat-option>
                            <mat-option value="Partnership">Partnership</mat-option>
                            <mat-option value="PrivateLimited">Private Limited</mat-option>
                            <mat-option value="PublicLimited">Public Limited</mat-option>
                        </mat-select>
                        <mat-error *ngIf="businessForm.controls['businessType'].invalid">
                            Business Type is required
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>GST Number</mat-label>
                        <input matInput formControlName="gstNumber" required />
                        <mat-error *ngIf="businessForm.controls['gstNumber'].invalid">
                            Enter a valid GST Number (e.g., 22AAAAA1234A1Z5)
                        </mat-error>
                    </mat-form-field>
    
                    <button mat-raised-button color="primary" (click)="stepper.next()" [disabled]="businessForm.invalid">
                        Next
                    </button>
                </form>
            </mat-step>
    
            <!-- Step 2: Contact Information -->
            <mat-step [stepControl]="contactForm">
                <form [formGroup]="contactForm">
                    <ng-template matStepLabel>
                    </ng-template>
                    <img src="https://i.ibb.co/nNMhz3Vr/Influencer-marketing-concept-with-finger-pointing.png" class="step-icon" />
                    Contact Information
                    <mat-form-field appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input matInput type="email" formControlName="email" required />
                        <mat-error *ngIf="contactForm.controls['email'].invalid">
                            Enter a valid email
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="text" formControlName="PhoneNumber" required />
                        <mat-error *ngIf="contactForm.controls['PhoneNumber'].invalid">
                            Enter a valid phone number (10 digits)
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" formControlName="userName" required />
                        <mat-error *ngIf="contactForm.controls['userName'].invalid">
                            Enter a User Name
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" required />
                        <mat-error *ngIf="contactForm.controls['password'].invalid">
                            Password is required (Min. 6 characters)
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Business Address</mat-label>
                        <textarea matInput formControlName="address" required></textarea>
                        <mat-error *ngIf="contactForm.controls['address'].invalid">
                            Address is required
                        </mat-error>
                    </mat-form-field>
    
                    <button mat-raised-button color="primary" (click)="stepper.previous()">Back</button>
                    <button class="mx-2" mat-raised-button color="primary" (click)="stepper.next()" [disabled]="contactForm.invalid">
                        Next
                    </button>
                    <button class="mx-2" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="businessForm.invalid || contactForm.invalid">
                        Submit
                    </button>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</body>
