

.login-container {
    display: flex;
    width: 100%;
    height: 89.5vh;
}

/* Left Panel (Background Image) */
.left-panel {
    flex: 1;
    background: url('https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') 
        no-repeat center center;
    background-size: cover;
    
}

/* Right Panel (Form) */
.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 400px;
  
}

.welcome-title {
    font-size: 2rem;
    color: #ff0055;
    margin-bottom: 10px;
    font-weight: bold;
}

.welcome-subtitle {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 20px;
}

.signup-link {
    color: #ff0055;
    font-weight: bold;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    border: 3px solid #594051;
    font-size: 1rem;
    background: transparent;
    outline: none;
}

.input-field:focus {
    border-color: #ff0055;
}

.login-button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #ff0055, #ff7a00);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.login-button:hover {
    background: #ff3d00;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-left: 4px;
}

.login-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.example-container mat-form-field + mat-form-field {
	margin-left: 8px;
  }
  
  .example-right-align {
	text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
	display: none;
  }
  
  input.example-right-align {
	-moz-appearance: textfield;
  }
  ::ng-deep .mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
    padding: 0 0 0 4px;
    margin-right: 2px !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
   
  display: none;
}

