<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <!-- Navbar-header -->

<section class="app-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-auto">
                <div class="app-icon d-flex align-items-center">
                    <div class="apexcart-logo-container">
                        <img src="https://i.ibb.co/LP9Jrqq/cart-image.png" alt="ApexCart Logo" style="border-radius: 15px;" />
                        <h4 class="mit-online-text">MIT<span class="online">Online</span></h4>
                    </div>
                </div>
            </div>
            <br>

            
            <!-- Navbar -->
            <div class="col">
                <nav class="navbar">
                    <ul class="navbar-nav d-flex flex-row justify-content-between align-items-center w-100">
                        <div class="d-flex flex-row">
                            <li class="nav-item mx-3">
                                <a class="nav-link dtds" routerLink="/" routerLinkActive="router-link-active" 
                                    [routerLinkActiveOptions]="{exact: true}">HOME</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link dtds" routerLink="/products" routerLinkActive="router-link-active">PRODUCTS</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link dtds" routerLink="/about" routerLinkActive="router-link-active">ABOUT</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link dtds" routerLink="/help" routerLinkActive="router-link-active">HELP</a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
            <div class="col-auto">
                <div class="profile-container">
                    <img class="improf" 
                        src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png" 
                        alt="Profile Icon" 
                        style="cursor: pointer;"/>
                </div>
            </div>
            

            <!-- Search Bar -->
            <div class="col-md-8 flex-grow-1">
                <div class="search-bar">
                    <input type="search" class="search-input" placeholder="Search for Products Brands and more..."
                        aria-label="Search" id="searchInput"/>
                    <button type="button" class="search-button">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>


            <!-- Header Buttons -->
            <div class="col-auto header-btn-group">
                <button mat-icon-button routerLink="/wishlist">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button routerLink="/cart">
                    <mat-icon>shopping_bag</mat-icon>
                </button>
                <ng-container *ngIf="!auth.UserLoggedIn(); else userLoggedIn">
                    <button mat-icon-button routerLink="/login">
                        <mat-icon>login</mat-icon>
                    </button>
                </ng-container>
                <ng-template #userLoggedIn>
                    <button [matMenuTriggerFor]="loginMenu" mat-icon-button>
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #loginMenu="matMenu">
                        <button mat-button>
                            <mat-icon>logout</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </ng-template>
            </div>
        </div>
    </div>
</section>


   <!-- selectitems -->

<div class="aph_cont_wrapper">
    <div class="dmRespCol large-12 medium-12 small-12" id="1668644924">
        <div class="u_1627835096 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1627835096"
            style="transition: opacity 1s ease-in-out 0s; text-align: left;padding: 5px;
            background-color: #f0f3efba !important;">
            <div class="container-fluid nav-bg-color" >
                <div class="row">
                    <div class="col content-width w-100">
                        <nav class="navbar navbar-expand-lg p-0">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="navbarScroll">
                                    <ul class="navbar-nav me-auto my-2 my-lg-0 m-0 nav-overflow"
                                        style="--bs-scroll-height: 100px;">

                                        <li class="nav-item dropdown dropdown-1 dropdown-menu-1 item-color">
                                            <a class="nav-link dropdown-toggle " href="copy-of-investor-relations.html"
                                                aria-label="navigate to opy-of-investor-relations page" role="button"
                                                onclick="window.location.href='copy-of-investor-relations.html'"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="https://rukminim1.flixcart.com/flap/80/80/image/29327f40e9c4d26b.png?q=100"
                                                    alt="" class="img-fluid news-image">
                                                <div class="content-flex">
                                                    <span class="news-text">Grocery</span>
                                                    <span class="icon icon-angle-down"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-1 sub-item-color">
                                                <li><a class="dropdown-item" href="copy-of-investor-relations.html"
                                                        aria-label="navigate to copy-of-investor-relations page">Press
                                                        Releases
                                                    </a></li>
                                                <li><a class="dropdown-item"
                                                        href="copy-of-investor-relations.html#EmailAlerts"
                                                        aria-label="navigate to copy-of-investor-relations.html#EmailAlerts page">Email
                                                        Alerts</a></li>
                                                <li><a class="dropdown-item" href="ir-calendar.html"
                                                        aria-label="navigate to ir-calendar page">IR Calender
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown dropdown-1 item-color">
                                            <a class="nav-link dropdown-toggle" href="company-info.html" role="button"
                                                onclick="window.location.href='company-info.html'"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                aria-label="navigate to company-info page">
                                                <img src="https://rukminim2.flixcart.com/flap/80/80/image/22fddf3c7da4c4f4.png?q=100"
                                                    alt="" class="img-fluid news-image">
                                                <div class="content-flex">
                                                    <span class="news-text"> Mobiles</span>
                                                    <span class="icon icon-angle-down"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-1 sub-item-color">
                                                <li><a class="dropdown-item" href="company-info.html"
                                                        aria-label="navigate to company-info page">Executive Team
                                                    </a></li>
                                                <li><a class="dropdown-item" href="contacts.html"
                                                        aria-label="navigate to contacts page">Contacts</a></li>
                                                <li><a class="dropdown-item" href="faq.html"
                                                        aria-label="navigate to faq page">FAQ
                                                    </a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown dropdown-1 item-color">
                                            <a class="nav-link dropdown-toggle"
                                                href="copy-of-copy-of-investor-relations.html" role="button"
                                                onclick="window.location.href='copy-of-copy-of-investor-relations.html'"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                aria-label="navigate to faq page">
                                                <img src="https://rukminim2.flixcart.com/fk-p-flap/80/80/image/0d75b34f7d8fbcb3.png?q=100"
                                                    alt="" class="img-fluid news-image">
                                                <div class="content-flex">
                                                    <span class="news-text"> Fashion</span>
                                                    <span class="icon icon-angle-down"></span>
                                                </div>

                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-1 sub-item-color">
                                                <li><a class="dropdown-item" href="financial-results.html"
                                                        aria-label="navigate to financial-results page">Financial
                                                        Results
                                                    </a></li>
                                                <li><a class="dropdown-item" href="income-statement.html"
                                                        aria-label="navigate to income-statement page">Income
                                                        Statement</a></li>
                                                <li><a class="dropdown-item" href="balance-sheet.html"
                                                        aria-label="navigate to balance-sheet page">Balance Sheet
                                                    </a></li>
                                                <li><a class="dropdown-item" href="cashflow.html"
                                                        aria-label="navigate to cashflow page">Cash Flow</a></li>

                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown dropdown-1 item-color">
                                            <a class="nav-link dropdown-toggle" href="all-sec-filings.html"
                                                role="button" onclick="window.location.href='sec-fillings.html'"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                aria-label="navigate to sec-fillings page">
                                                <img src="https://rukminim2.flixcart.com/flap/80/80/image/ab7e2b022a4587dd.jpg?q=100"
                                                    alt="" class="img-fluid news-image">
                                                <div class="content-flex">
                                                    <span class="news-text"> Home & Furnitures</span>
                                                    <span class="icon icon-angle-down"></span>
                                                </div>

                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-1 sub-item-color">
                                                <li><a class="dropdown-item" href="all-sec-filings.html"
                                                        aria-label="navigate to all-sec-filings page">All SEC Filings
                                                    </a></li>
                                                <li><a class="dropdown-item" href="annual-reports.html"
                                                        aria-label="navigate to annual-reports page">Quarterly Reports
                                                    </a></li>
                                                <li><a class="dropdown-item" href="section-16-filings.html"
                                                        aria-label="navigate to section-16-filings page">Section 16
                                                        Filings
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown dropdown-1 item-color">
                                            <a class="nav-link dropdown-toggle" href="stock-quote.html" role="button"
                                                onclick="window.location.href='stock-quote.html'"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                aria-label="navigate to stock-quote page">
                                                <img src="https://rukminim2.flixcart.com/flap/80/80/image/69c6589653afdb9a.png?q=100"
                                                    alt="" class="img-fluid news-image">
                                                <div class="content-flex">
                                                    <span class="news-text"> Electronics </span>
                                                    <span class="icon icon-angle-down"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-1 sub-item-color">
                                                <li><a class="dropdown-item" href="stock-quote.html"
                                                        aria-label="navigate to stock-quote page">Stock Quote
                                                    </a></li>
                                                <li><a class="dropdown-item" href="detailed-quote-information.html"
                                                        aria-label="navigate to detailed-quote-information page">Detailed
                                                        Quote Information
                                                    </a></li>
                                                <li><a class="dropdown-item" href="price-history.html"
                                                        aria-label="navigate to price-history page">Price History
                                                    </a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown dropdown-1 item-color">
                                            <a class="nav-link dropdown-toggle" href="board-of-directors.html"
                                                role="button" onclick="window.location.href='board-of-directors.html'"
                                                data-bs-toggle="dropdown" aria-expanded="false"
                                                aria-label="navigate to board-of-directors page">
                                                <img src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/07/medical-logo.jpg"
                                                    alt="" class="img-fluid news-image" style="background-color: white;width:79px;">
                                                <div class="content-flex">
                                                    <span class="news-text"> Healthcare Items </span>
                                                    <span class="icon icon-angle-down"></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-1 sub-item-color">
                                                <li><a class="dropdown-item" href="board-of-directors.html"
                                                        aria-label="navigate to board-of-directors page">Board of
                                                        Directors
                                                    </a></li>
                                                <li><a class="dropdown-item" href="board-committees.html"
                                                        aria-label="navigate to board-committees page">Board Committees
                                                    </a></li>
                                                <li><a class="dropdown-item" href="governance-documents.html"
                                                        aria-label="navigate to governance-documents page">Governance
                                                        Documents
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
