.container-fluid {
    padding: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 15px);
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1rem;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus, textarea:focus, select:focus {
    border-color: #28a745;
    outline: none;
}

.validation-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 6px;
    min-height: 18px;
    font-family: system-ui;

}

.btn-success {
    padding: 12px;
    font-size: 1.1rem;
    width: 100%;
    height: 65%;
    margin-top: 29px;
}

@media (max-width: 768px) {
    .form-group {
        width: 100%;
    }
}
.img-thumbnail {
    max-width: 100%;
    height: 280px;
    /* margin-top: 10px; */
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

label h2 span{
    font-family: system-ui;
}
::placeholder{
    font-family: system-ui;

}
