.filter-container{
    padding: 0rem 1rem;
    /* border: 8px solid rgb(240,242,245); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 9px;
    color: #212121;
    role:generic;
    contrast: 16.1em;
    font-style: bold;
}
.filter-section{
    margin: 1rem 0rem;
    padding: 1rem;
    border: 1px solid rgba(115, 115, 115, 0.162);
    border-radius: 1rem;
}
.select-check-container{
    border: 1px solid rgba(115, 115, 115, 0.162);
    border-radius: 1rem;
    max-height: 8rem;
    overflow-y: scroll;
}

.filter-slider-container{
    display: flex;
    justify-content: center;
}
.filter-slider{
    width: 90%;
    margin: 0;
    --mdc-slider-handle-color: white;
    --mdc-slider-active-track-color: var(--primary-color);
}

.mat-button-toggle-checked{
    color: white!important;
    background-color: var(--primary-color)!important;
}
body{
    font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        background-color: #f1f3f6;
        color: #212121;
        line-height: 1.4;
}