 /* MainCarousels */

 .carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-indicators {
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px;
}



.indicator {
  width: 30px;
  height: 6px;
  background-color: #ccc; 
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #000;
}

.indicator:hover {
  background-color: #888;
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slides-container {
  display: flex;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 70vh;
  object-fit: fill;
  padding-top:2px;
}

.text-overlay {
  position: absolute;
  bottom: 20%;
  left: 10%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: left;
  outline: none !important;
}

.text-overlay h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color:white !important;
  outline: none;
}

.text-overlay p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ddd;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ff6f00;
  --color-outline: #e55d00;
  --color-shadow: #00000080;
}

.shop-now-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.shop-now-btn:hover, .shop-now-btn:focus {
  transition: 0.5s;
  box-shadow: 0 0 0.4em 0 var(--color-outline);
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
}

.shop-now-btn .icon-arrow {
  transition: 0.3s;
}

.shop-now-btn:hover .icon-arrow {
  transition: 0.3s;
  margin-left: 20px;
}


#arrow-icon-one, #arrow-icon-two, #arrow-icon-three {
  transition: 0.3s;
}

.shop-now-btn:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
  height: 5px !important;
  width: 5px !important;
}

.shop-now-btn:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.shop-now-btn:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}


@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-outline);
  }

  100% {
    fill: white;
  }
}


.carousel-indicators {
  position: absolute;
  bottom: 58px !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px !important;
  outline: none;  
}

.indicator {
  width: 30px;
  height: 6px;
  background-color: #ccc; 
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: greenyellow;
}

.indicator:hover {
  background-color: #888;
}




 /* Dynamic moving Carousel */


 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255,246,244);
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.h2s {
  margin: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
  outline: none !important;
  
}

footer {
  margin: 1.25rem 0;
  text-align: center;
}


.grid-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding-block-end: 2.5rem;
  text-align: center;
  display: grid;
  justify-content: center;
  padding-top: 2rem;
  position: relative;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-contents {
  display: flex;
  animation: scroll 50s linear infinite;
}

.carousel-item {
  min-width: 200px;
  height: 150px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

section {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  opacity: 1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
}


/* Click Carousels */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

ul li {
  list-style: none;
  margin-bottom: 50px;
}

ul li input {
  position: relative;
  z-index: 1000;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

ul li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul li .slide .left {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #fff;
}

ul li .slide .right {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #fff;
}

ul li .slide .left.left-face {
  left: 0;
  transition: transform 1s;
  transform-origin: bottom;
  transform: rotateX(90deg);
}

ul li .slide .left.left-face img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul li .slide .right.right-face {
  right: 0;
  transition: transform 1s;
  transform-origin: top;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(90deg);
}

ul li .slide .right.right-face h2 {
  font-size: 3rem;
  color: #333;
}

ul li .slide .right.right-face p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5em;
}

ul li input[type="radio"]:checked ~ .slide .left.left-face {
  transform: rotateX(0deg);
  transition: transform 1s;
  transform-origin: top;
}

ul li input[type="radio"]:checked ~ .slide .right.right-face {
  transform: rotateX(0deg);
  transition: transform 1s;
  transform-origin: bottom;
}

.description-heading {
  color: #cf5d5d;
  font-weight: bold;
  font-family: cursive;
}

.trending-heading {
  color: #28a745;
  font-weight: bold;
  font-family: cursive;
}

.example-heading {
  color: #35cdc3;
  font-weight: bold;
  font-family: cursive;
}
.fontclr{
  font-family: cursive;
}

.scroll-btn {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s;
  animation: bounce 1.5s infinite alternate;
  z-index: 1000;
}

.up-btn {
  bottom: 20px;
}

.down-btn {
  bottom: 20px;
}

.scroll-btn:hover {
  background: red;
  cursor: pointer;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.expand-button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



/* Latest stock */

.gray {
  font-size: 18px;
  font-weight: 500;
  color: rgb(155, 155, 155);
}

.head {
  font-size: 28px;
  font-weight: 500;
}

.blogimg {
  width: 100%;
}

.blog {
  width: 28%;
  padding-bottom: 10px;
  background-color: white;
  margin: 15px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  animation-name: zoom;
  animation-duration: 3s;
}

@keyframes zoom {
  0% {
      transform: scale(0.8);
  }
}

.blog:hover {
  box-shadow: 0 0 25px #777777;
  transform: scale(1.02);
}

.blog_head{
  text-align: center;
}

.date {
  font-size: 15px;
  color: rgb(180, 180, 180);
  margin-top: 0;
}

#blog {
  margin-top: 0em;
  width: 100%;
  /* padding: 40px; */
  /* background-color: rgb(233, 233, 233); */
  margin-left: -1em;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.blog_post_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blogp_decrip {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}

.centre {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(238, 103, 6);
  margin-top: 20px;
  cursor: pointer;
}

.centre:hover {
  text-decoration: underline;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: rgb(236, 87, 28);
  font-size: 3rem; /* Adjust as needed */
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  display: block;
  letter-spacing: 2px;
}

/* Flickering neon effect */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgb(238, 103, 6),
      0 0 30px rgb(206, 60, 123),
      0 0 40px rgb(142, 207, 28),
      0 0 50px rgb(238, 103, 6);
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* Shoes section */

/* .wrap {
  margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrap-clip {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 480px  0 0 620px;
	border-color:  #e5e5e5 transparent transparent transparent;
	margin-top: -1px;
	transition: all 0.8s ease-in-out;
}

.content {
  margin: 0 auto;
	position: relative;
	width: calc(100% - 140px);
	height: calc(100% - 100px);			
	box-shadow: 0 0 12px rgba(0,0,0,.25);
	z-index: 100;
}

.content .bar {
	position: absolute;
    top: 5px;
    right: 5px;
	height: calc(100% - 10px);
    width: 70px;
    background-color: rgba(0,0,0,.05);
    z-index: 10;
}

.content .bar > * { display: block; text-align: center; }

.content .bar img { width: 48px; margin-bottom: 5px; transition: all .4s ease-in-out; }

.content .bar a:hover img { transform: scale(-1,1); transition: all .4s ease-in-out; }

.content .top {
	position: absolute;
    top: 5px;
    left: 5px;
	width: calc(100% - 80px);
	height: 40px;
    z-index: 10;
}

.menu {
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  text-align: right;
}

.menu a {
	margin-right: 40px;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	color: #888;
}

.shoe {
	width: 350px;
    transform: rotate(-20deg);
}

.image { margin-right: 50px; margin-left: 20px; }

.info { 
	margin-left: 20px; 
	width: 250px; 
	color: #333;
}

.info p {
	text-align: justify;
	line-height: 1.5;
	font-size: 14px; 
	color: #444; 
}

.info button { 
	margin-top: 25px; 
	margin-bottom: 20px;
	width: 100%;
}

.info h2, .info h3 { margin: 10px 0; }
.info h2 { font-size: 28px; }

.info button i { font-size: 24px; }

.item .title {
	position: absolute;
    top: 80px;
    left: 30px;
	font-family: 'Cuprum', 'Roboto', Tahoma;
    font-size: 100px;  
    font-weight: 500;   
    color: rgba(255, 255, 255, 0.5);
}

.logo { 
	margin-left: 20px;
	width: 48px; 
	float: left;
	opacity: 0.75; 
}

.cart {
	position: relative;
	padding: 5px;
    margin-bottom: 15px;
	font-size: 24px;
	text-align: center;
    color: #777; 
}

.products {
	width: 820px;
	height: 100%;
	position: relative;
	perspective: 1000px;
}

.products-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.8s ease-in-out;
}

.item {
	margin: 0;
	position: absolute;
	top: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: none;
	align-items: center;
	backface-visibility: hidden;
}

.products-wrap .item:nth-child(1) { transform: rotateY(0deg) translateZ(237px); display: flex;  }
.products-wrap .item:nth-child(2) { transform: rotateY(120deg) translateZ(237px); display: flex; }
.products-wrap .item:nth-child(3) { transform: rotateY(240deg) translateZ(237px); display: flex; }

.wrap[data-pos="0"] .products-wrap {
  -webkit-transform: translateZ(-237px) rotateY(0deg);
          transform: translateZ(-237px) rotateY(0deg);
}
.wrap[data-pos="1"] .products-wrap {
  -webkit-transform: translateZ(-237px) rotateY(-120deg);
          transform: translateZ(-237px) rotateY(-120deg);
}
.wrap[data-pos="2"] .products-wrap {
  -webkit-transform: translateZ(-237px) rotateY(-240deg);
          transform: translateZ(-237px) rotateY(-240deg);
}

.wrap[data-pos="0"] .wrap-clip { background-color: #673AB7; }
.wrap[data-pos="1"] .wrap-clip { background-color: #F44336; }
.wrap[data-pos="2"] .wrap-clip { background-color: #2196F3; }

.wrap[data-pos="0"] .menu a:hover { color: #673AB7 }
.wrap[data-pos="1"] .menu a:hover { color: #F44336 }
.wrap[data-pos="2"] .menu a:hover { color: #2196F3 }

.btn {
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #2ecc71;
	color: #ecf0f1;
	transition: background-color .3s;
}

.btn:hover, .btn:focus { background-color: #27ae60; }
.btn > * { position: relative; }

.btn span {
  display: block;
  padding: 8px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.badge {
	padding: 3px 7px;
  	position: absolute;
	right: 10px;
	top: 0;
	display: inline-block;
	background-color: #F44336;
	border-radius: 50px;
	font-size: 11px;
	font-weight: 700;
	color: #fff;	
}

.badge:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border: dotted #F44336 2px;
  border-radius: 20px;
  opacity: 0;
}

.cart.add .badge { animation: pulse 1.5s 1; }
.cart.add .badge:before { animation: sonar 1.5s 1; }

@keyframes sonar { 
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}

@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4);} 
  50% {transform: scale(.9);} 
  80% {transform: scale(1.2);} 
  100% {transform: scale(1);}
} */