 /* MainCarousels */

 .carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-indicators {
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px;
}



.indicator {
  width: 30px;
  height: 6px;
  background-color: #ccc; 
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #000;
}

.indicator:hover {
  background-color: #888;
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slides-container {
  display: flex;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 70vh;
  object-fit: fill;
  padding-top:2px;
}

.text-overlay {
  position: absolute;
  bottom: 20%;
  left: 10%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: left;
  outline: none !important;
}

.text-overlay h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color:white !important;
  outline: none;
}

.text-overlay p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ddd;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ff6f00;
  --color-outline: #e55d00;
  --color-shadow: #00000080;
}

.shop-now-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.shop-now-btn:hover, .shop-now-btn:focus {
  transition: 0.5s;
  box-shadow: 0 0 0.4em 0 var(--color-outline);
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
}

.shop-now-btn .icon-arrow {
  transition: 0.3s;
}

.shop-now-btn:hover .icon-arrow {
  transition: 0.3s;
  margin-left: 20px;
}


#arrow-icon-one, #arrow-icon-two, #arrow-icon-three {
  transition: 0.3s;
}

.shop-now-btn:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
  height: 5px !important;
  width: 5px !important;
}

.shop-now-btn:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.shop-now-btn:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}


@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-outline);
  }

  100% {
    fill: white;
  }
}


.carousel-indicators {
  position: absolute;
  bottom: 58px !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 19px !important;
  outline: none;  
}

.indicator {
  width: 30px;
  height: 6px;
  background-color: #ccc; 
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: greenyellow;
}

.indicator:hover {
  background-color: #888;
}




 /* Dynamic moving Carousel */


 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 1px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255,246,244);
  color: #333333;
  font-family: "Montserrat", sans-serif;
}
.h2s {
  margin: 1.25rem;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
  outline: none !important;
  
}

footer {
  margin: 1.25rem 0;
  text-align: center;
}


.grid-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding-block-end: 2.5rem;
  text-align: center;
  display: grid;
  justify-content: center;
  padding-top: 2rem;
  position: relative;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-contents {
  display: flex;
  animation: scroll 50s linear infinite;
}

.carousel-item {
  min-width: 200px;
  height: 150px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

section {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  opacity: 1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
}


/* Click Carousels */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
} */

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.termslides {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.termslides .lsubslidesi {
  list-style: none;
  margin-bottom: 50px;
}

ul li input {
  position: relative;
  z-index: 1000;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

ul li .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul li .slide .left {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #fff;
}

ul li .slide .right {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #fff;
}

ul li .slide .left.left-face {
  left: 0;
  transition: transform 1s;
  transform-origin: bottom;
  transform: rotateX(90deg);
}

ul li .slide .left.left-face img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul li .slide .right.right-face {
  right: 0;
  transition: transform 1s;
  transform-origin: top;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(90deg);
}

ul li .slide .right.right-face h2 {
  font-size: 3rem;
  color: #333;
}

ul li .slide .right.right-face p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5em;
}

ul li input[type="radio"]:checked ~ .slide .left.left-face {
  transform: rotateX(0deg);
  transition: transform 1s;
  transform-origin: top;
}

ul li input[type="radio"]:checked ~ .slide .right.right-face {
  transform: rotateX(0deg);
  transition: transform 1s;
  transform-origin: bottom;
}

.description-heading {
  color: #cf5d5d;
  font-weight: bold;
  font-family: cursive;
}

.trending-heading {
  color: #28a745;
  font-weight: bold;
  font-family: cursive;
}

.example-heading {
  color: #35cdc3;
  font-weight: bold;
  font-family: cursive;
}
.fontclr{
  font-family: cursive;
}

.scroll-btn {
  position: fixed;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s;
  animation: bounce 1.5s infinite alternate;
  z-index: 1000;
}

.up-btn {
  bottom: 20px;
}

.down-btn {
  bottom: 20px;
}

.scroll-btn:hover {
  background: red;
  cursor: pointer;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.expand-button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



/* Latest stock */

.gray {
  font-size: 18px;
  font-weight: 500;
  color: rgb(155, 155, 155);
}

.head {
  font-size: 28px;
  font-weight: 500;
}

.blogimg {
  width: 100%;
}

.blog {
  width: 28%;
  padding-bottom: 10px;
  background-color: white;
  margin: 15px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  animation-name: zoom;
  animation-duration: 3s;
}

@keyframes zoom {
  0% {
      transform: scale(0.8);
  }
}

.blog:hover {
  box-shadow: 0 0 25px #777777;
  transform: scale(1.02);
}

.blog_head{
  text-align: center;
}

.date {
  font-size: 15px;
  color: rgb(180, 180, 180);
  margin-top: 0;
}

#blog {
  margin-top: 0em;
  width: 100%;
  /* padding: 40px; */
  /* background-color: rgb(233, 233, 233); */
  margin-left: -1em;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.blog_post_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blogp_decrip {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}

.centre {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(238, 103, 6);
  margin-top: 20px;
  cursor: pointer;
}

.centre:hover {
  text-decoration: underline;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: rgb(236, 87, 28);
  font-size: 3rem; /* Adjust as needed */
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  display: block;
  letter-spacing: 2px;
}

/* Flickering neon effect */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgb(238, 103, 6),
      0 0 30px rgb(206, 60, 123),
      0 0 40px rgb(142, 207, 28),
      0 0 50px rgb(238, 103, 6);
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.aph_cont_wrapper {
    padding: 5px;
    background-color: #f0f3efba !important;
}

.nav-bg-color {
    background-color: #f0f3efba;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    --bs-scroll-height: 100px;
    margin: 0;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-link img {
    width: 80px;
    height: 80px;
}

/* .content-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.news-text {
    font-size: 14px;
    font-weight: bold;
}

.icon-angle-down {
    font-size: 12px;
    margin-top: 3px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 8px 15px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        width: 100%;
    }
}




/* selectitems */

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-item .nav-link {
  text-decoration: none;
  font-size: 0.9rem;
  /* color: rgb(15,76,54) !important; */
  transition: color 0.3s, text-decoration 0.3s;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .12em;
  font-family: var(--font-navigation-family);
  /* display: inline-flex; */
  font-family: cursive;
}

.nav-bg-color{
  background-color: #ffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(199, 210, 217);
}

nav{
  font-size: 18px;
  color: #fff !important;
}
.item-color a{
  color: black !important;
  padding: 12px 30px !important;
  font-family: Lato, "Lato Fallback";
  font-weight: 700;
}
.item-color a:hover{
 
  color: #00c853 !important;
}
.item-color a:active{
 
  color: #00c853 !important;
}
.sub-item-color{
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
.sub-item-color a{
  color: #0A3161 !important;
  font-size: 16px;
  font-weight: 400 !important;
}
/* .sub-item-color a:hover{
  background-color: #6B7386 !important;
}
.sub-item-color a:active{
  background-color: #6B7386 !important;
} */

.nav-overflow{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}
.dropdown-1:hover .dropdown-menu-1 {
  display: block;
  margin-top: 0; /* Adjust if there’s unwanted spacing */
}


.dropdown-toggle::after {
  content: none !important;
}

.dropdown .dropdown-menu {
max-height: 0;
overflow: hidden;
visibility: hidden;
opacity: 0;
z-index: -1;
transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
position: absolute;
}

.dropdown:hover .dropdown-menu {
max-height: 200px;
visibility: visible;
opacity: 1;
z-index: 1;
}
.dropdown a {
cursor: pointer !important;
}
.dropdown-menu {
display: block !important;
}
.dropdown:hover .icon::before {
transform: rotate(180deg);
}
.dropdown-toggle::after{
  content: "" !important;
  display: none;
}
.icon-angle-up:before {
content: '\f106'
}

.icon-angle-down:before {
content: '\f107'
}
.nav-link .icon::before {
transition: transform 0.3s ease;
}
.nav-link {
  display: block; /* The entire link is treated as a block */
  text-align: center; /* Centers the content */
}

.nav-link img.news-image {
  display: block; /* Ensures the image is block-level */
  margin: 0 auto; /* Centers the image */
  height: 56px; /* Adjust height as needed */
}

.nav-link .content-flex {
  display: flex; /* Enables flex layout for text and icon */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Aligns items vertically */
  margin-top: 8px; /* Adds space between the image and content */
  gap: 8px; /* Adds spacing between the text and icon */
}

.nav-link .news-text {
  font-size: 12px;
}


@font-face {
  font-family: FontAwesome;
  font-display: block;
  src: url(/assets/fonts/fontawesome/fontawesome-webfont.eot?v=6);
  src: url(/assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=6) format("embedded-opentype"),
       url(/assets/fonts/fontawesome/fontawesome-webfont.woff?v=6) format("woff"),
       url(/assets/fonts/fontawesome/fontawesome-webfont.ttf?v=6) format("truetype"),
       url(/assets/fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular?v=6) format("svg");
  font-weight: 400;
  font-style: normal;
}


[class*=' icon-'],
[class^=icon-] {
  font-family: FontAwesome !important;
  font-weight: 400;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  margin-right: .3em
}

[class*=' icon-']:before,
[class^=icon-]:before {
  text-decoration: none;
  display: inline-block;
  cursor: default;
}

a [class*=' icon-'],
a [class^=icon-] {
 display: inline
}
@media screen and (min-width: 1200px) {
  .content-width {
      margin-left: auto;
      margin-right: auto;
      max-width: 1325px !important;
  }
}
@media screen and (max-width: 991px) {
  .collapse:not(.show) {
      display: block !important;
  }
}